<section class="py-5">
    <h1 class="display-3">
        Payment successfull
    </h1>
    <p class="lead">Your Eboo would be emailed to you shortly.</p>
    <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</section>